<%- include('head.ejs') %>

<%- include('banner.ejs') %>



<section id="new-arrivals" class="new-arrivals">
    <div class="container">
        <div class="section-header">
            <h2>You Cart</h2>
        </div>
        <!--/.section-header-->
        <div class="new-arrivals-content">
            <div class="row">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Image</th>
                            <th>Title</th>
                            <th>Price</th>
                            <th>Qty</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% cart.products.map((product,index) => { %>
                            <tr>
                               <td><%= ++index %></td>
                               <td><img src="/images/<%= product.imgUrl %>" width="30" alt=""></td>
                                <td><%= product.title  %></td>
                                <td>$<%= product.price  %></td>
                                <td><%= product.qty  %></td>
                            </tr>
                        <% }) %>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <!--/.container-->
</section>
<%- include('foot.ejs') %>